<%= form_with model: @recipe do |f| %>

  <%# handling error messages %>
  <%# errors messages are stored into an array of strings %>
  <% if defined? @error_messages&.any? %>
    <%= display_form_errors(@error_messages) %>
  <% end %>

  <div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>

  <div data-controller="ingredient-search">
    <div class="field search">
      <%= label_tag :ingredient_search, "Rechercher un ingrédient :" %>
      <%= text_field_tag :ingredient_search, "", placeholder: "exemple : orange", data: { action: "input->ingredient-search#search", ingredient_search_target: "input" } %>
    </div>
    <ul class="ingredient-ul" data-ingredient-search-target="results"></ul>

    <div id="ingredient-fields" data-ingredient-search-target="container">
      <%= f.fields_for :ingredients do |ingredient_form| %>
        <%# render with the form partial %>
        <%= render partial: "ingredients/form", locals: { ingredient_form: ingredient_form } %>
      <% end %>
    </div>
  </div>

  <div class="field">
  <%= f.label :instructions %>
  <%= f.text_area :instructions %><br>
  </div>

  <div class="field checkbox">
  <%= f.label :is_public, "Rendre la recette publique ?" %>
  <%= f.check_box :is_public %>
  </div>

  <%= f.submit "Enregistrer" %>
<% end %>
