<div class="recipe-card">
  <h3><%= link_to recipe.title, recipe_path(recipe) %></h3>
  <span class="views-count">
    <%= pluralize(recipe.total_views, "vue") %>
  </span>
  <ul class="ingredients">
    <% recipe.ingredients.each do |ingredient| %>
      <li class="ingredient">
        <%= spoonacular_img(ingredient, "100x100" , "ingredient-image small") %>
        <p class="text"><%= ingredient.name %></p>
      </li>
    <% end %>
  </ul>
  <p class="instructions"><%= truncate(recipe.instructions, length: 100) %></p>
</div>