<%# use helper method to display visibility section %>
<%= visibility_section(recipe) %>

<section class="recipe_content">
  <%# ingredients section %>
  <section class="ingredient_section">
    <h2>Ingrédients : </h2>
    <ul class="ingredients_list">
      <% @recipe.ingredients.each do |ingredient| %>
        <li>
          <%= render partial: "ingredients/ingredient", locals: { ingredient: ingredient } %>
        </li>
      <% end %>
    </ul>
  </section>
  <p><strong>Instructions :</strong><%= simple_format(@recipe.instructions) %></p>
</section>
<div class="actions-buttons" style="display: flex">
  <% if can?(:edit, @recipe) %>
    <%= link_to "Modifier", edit_recipe_path(@recipe) %> |
  <% end %>
  <% if can?(:destroy, @recipe) %>
    <%= button_to "Supprimer", recipe_path(@recipe), method: :delete,
      data: { turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette recette ?" } %>
  <% end %>
  <%= link_to "Retour", recipes_path, data: { turbo_frame: "_top" } %>
</div>