<section class="visibility">
  <% if recipe.is_public %>
    <%= "Publique" %>
  <% else %>
    <%= "Privée" %>
  <% end %>
</section>
<section class="recipe_content">
  <p><strong>Ingrédients :</strong><%= simple_format(@recipe.ingredients) %></p>
  <p><strong>Instructions :</strong><%= simple_format(@recipe.instructions) %></p>
</section>
<%= link_to "Modifier", edit_recipe_path(@recipe) %> |
<%= link_to "Retour", recipes_path, data: { turbo_frame: "_top" } %>