<%= form_with(model: user) do |form| %>

  <%# handling error messages %>
  <%# errors messages are stored into an array of strings %>
  <%= display_form_errors(@error_messages) %>

  <div class="field">
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field checkbox">
    <%= label_tag :suscribe_newsletter?, "S'inscrire à la newsletter ?" %>
    <%= check_box_tag :suscribe_newsletter?, '1', false %>
  </div>


  <div class="actions">
    <%= form.submit "Créer un compte", data: { turbo: false } %>
  </div>
<% end %>
