<nav class="navbar">
  <%= login_button %>
  <%= register_button %>
  <%= public_recipes_link %>
  <% if logged_in? %>
    <%= recipes_index_link  %>
    <%=  profile_page_link %>
  <% end %>
  <% if is_admin? %>
    <%= admin_users_link %>
  <% end %>
</nav>