<header>
  <h1><a href='/'><%= image_tag 'logo_kuisine_full.png', class: 'logo', alt: 'Kuisine' %></a></h1>

  <%= yield :header %>

  <%# nav bar %>
  <%= render partial: 'shared/navbar' %>
</header>

<%= turbo_frame_tag :flash do %>
  <%= render 'shared/flashes' %>
<% end %>